{% extends 'users/adminlte.html' %}
{% load crispy_forms_tags %}
{% block title  %}به روز رسانی پرسش و پاسخ{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">ویرایش پرسش و پاسخ</h3>
        </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-6">
                            {{form.question|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{form.awnser|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{form.section|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{form.lesson_sections|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{form.create_by|as_crispy_field }}
                        </div>
                        {% if user.is_superuser%}
                        <div class="form-group col-md-6 mb-0">
                            {{form.status|as_crispy_field }}
                        </div>
                        {%endif%}
                    </div>
                    <div style="margin-bottom: 15px; display: flex; justify-content: center;" ></div>
                    <button class="btn btn-success" style="width: 49%; margin-left: 1%;">ویرایش پرسش و پاسخ</button>
                    <a class="btn btn-danger" style="width: 49%;" href="{% url 'users:faq-delet' faq.pk %}">حذف پرسش و پاسخ</a>
                </div>

            </form>
    </div>

{% endblock %}