{% extends 'users/adminlte.html' %}

{% block title  %}لیست سوال و جواب ها{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>سوال</th>
                <th>زمان ساخت</th>
                <th>ویراش و حذف</th>
                <th>وضعیت</th>
              </tr>
            </thead>
            <tbody>
                {% for faq in object_list %}
                {% if user.is_superuser or faq.status == 'd' or faq.create_by == request.user.get_full_name%}
                  <tr>
                    <td>
                      <a href="{% url 'users:faq-update' faq.pk %}"> {{faq.question}}</a>
                    </td>
                      <td>{{faq.jpublish}}</td>
                      <td><a class="badge badge-primary" style="font-size: 13px;" href="{% url 'users:faq-update' faq.pk %}">ویرایش و حذف</a></td>
                      <td>
                        {% if faq.status == 'p' %}
                          <span class="badge badge-success">منتشر شده</span>
                        {% else %}
                              <span class="badge badge-danger">پیش نویس</span>
                        {% endif %}
                      </td>
                  </tr>
                  {%endif%}
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}