{% extends 'users/adminlte.html' %}
{% block title  %}رمز عبور شما بازیابی شد{% endblock %}

{% block content %}
    <div class="col-md-8 text-center mx-auto">
        <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">باز یابی رمز عبور</h3>
        </div>
            <div class="card-body py-4">
                    <p class="py-2">رمز عبور شما بازیابی شد</p>
                    <a href="{% url 'users:User-list' %}" class="btn btn-success">بازگشت به لیست کاربر ها</a>
    </div>

{% endblock %}
