{% extends 'users/adminlte.html' %}
{% load crispy_forms_tags %}

{% block title %}بازیابی رمز عبور{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">بازیابی گذرواژه کاربر</h3>
        </div>
            <div class="card-body">
                {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                  <center class="alert {{ message.tags }}" role="alert">
                      {{ message }}
                  </center>
              {% endfor %}
                </ul>
                {% endif %}
                <form method="POST" enctype="multipart/form-data"  autocomplete="off" class="form">{% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="id_password">گذرواژهٔ جدید:</label>
                            <input class="textinput form-control" type="password" name="password" required id="id_password">
                            <br>
                            <ul>
                                <li>گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد</li>
                                <li>رمز عبور شما میبایست حداقل از 8 حرف تشکیل شده باشد</li>
                                <li>گذرواژه شما نمی تواند یک گذرواژه معمول باشد</li>
                                <li>گذرواژه شما نمیتواند تماما عدد باشد</li>
                            </ul>
                        </div>
                        <div class="form-group col-6">
                            <label for="id_password_confrim">تأیید گذرواژهٔ جدید:</label>
                            <input class="textinput form-control" type="password" name="password_confrim" required id="id_password_confrim">
                            <ul>
                                <li>برای تایید گذرواژه را دوباره وارد کنید</li>
                              
                            </ul>
                        </div>
                        
                    </div>
                    
                    <button class="btn btn-success">ویرایش گذرواژه</button>
            </form>
    </div>

{% endblock %}
