{% extends 'base.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<link rel="stylesheet" href=" {% static 'css/notifications_searched.css' %} ">
<link rel="stylesheet" href=" {% static 'css/rtl.css' %} ">
<title>نتایج جست و جو</title>
{% endblock head %}
</head>
<body>
  

{%block content%}
<a class="back btn btn-outline-danger " href="/notifications/"> بازگشت </a>

  {%for notification in notifications %}
  <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card mt-4 shadow-lg">
              <div class="card-body">
                <h3 class="card-title text-center text-primary">{{notification.title}}</h3><br>
                <h4 class="card-text text-justify text-center">{{notification.text|safe}}</h4><br>
                <p class="card-text text-center"><small class="text-muted">ساخته شده در تاریخ {{notification.jpublish}}</small></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
    <br><br><br>
{%endblock content%}
</body>
</html>